<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Инструкция</title>
</head>
<body>

<img src="/static/img/instruction.jpg" alt="Инструкция" width=200 align="left" />
<h2>Система реализации АПИ (АПИратор)</h2> <p>Данная система реализована на основе микрофреймворка
    flask. Систему предпологается использовать в качестве каркаса для веб проектов.</p>
<p>
АПИратор - Является небольшой оберткой над проектом flask. Реализованной для личного использования и удобства.
Разработка новых модулей ведется в следующем порядке:

<ul style="margin-left:180px;">
    <li>Создание класса;</li>
    <li>Методы АПИ;</li>
    <li>Регистрация класса.</li>
</ul>
</p>
<p>
    <b>Создание класса</b> - Класс модуля логически включает в себя реализацию какого-либо процесса. Данный клас должен быть наследником
    базового класса ObjectAPI. Реализация классов подобного рода в структуре проекта, распологается в папке LibAPI.
</p>
<p><b>Методы АПИ</b> - Создоваемы класс может содержать методы, использование которых возможно по ссылке, такой метод создается с префиксом "api_".
Например, метод: <br />
class Article(ObjectAPI):<br />
---- def api_get_art(self):<br />
-------- . . .<br />
будет доступен по ссылке http://ваш домен/Article/get_art. Функция может возвращать любой результат который позволяет протакол http.
</p>
<p><b>Регистрация класса</b> - Для регистрации модуля и его активации требуется проимпортировать его в файл __init__.py пакета LibAPI.</p>



</body>
</html>