<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Инструкция</title>
</head>
<body>

<img src="/static/img/instruction.jpg" alt="Инструкция" width=200 align="left" />
<h2>АПИратор</h2> <p>Предпологается использовать в качестве каркаса для веб проектов.</p>
<p>
АПИратор - Является небольшой оберткой над проектом flask. Реализованной для личного использования и удобства.
Разработка новых модулей ведется в следующем порядке:

<ul style="margin-left:180px;">
    <li>Создание класса;</li>
    <li>Методы АПИ;</li>
    <li>Регистрация класса.</li>
</ul>
</p>


</body>
</html>